<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <%- include('header.html') %>
    <h1>Receptionist Dashboard</h1>
    <!--Receptionist dashboard 
   view all bookings and their status upto one week
   view all booking payments status
   confirm checkin checkout
   view all clients details 
   view  all rooms and their satus
   view all spots and their status-->
  </body>
</html>
