<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking title>
        <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
    <%- include(" _header.ejs") %>

    <h1>Booking Page</h1>
    <form action="/bookings" method="POST">
        <label for="roomId">Room ID:</label>
        <input type="text" id="roomId" name="roomId" required />
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" required />
        <button type="submit">Book Room</button>
    </form>
    
</html>