<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <%- include("../_header.ejs") %>
    <h1>Add new Spot page</h1>
    <form
      action="/manager/add-spot"
      method="POST"
      enctype="multipart/form-data"
    >
      <label for="spot_name">Spot Name:</label>
      <input
        type="name"
        name="spot_name"
        id="spot_name"
        placeholder="Spot Name"
        required
      /><br /><br />
      <input type="text" name="label" placeholder="Label" required /><br />
      <input
        type="number"
        name="capacity_range"
        placeholder="Capacity Range"
        required
      /><br />
      <input
        type="number"
        name="price"
        placeholder="Price per day"
        required
      /><br />
      <label for="spot_image">Spot Image:</label>
      <input
        type="file"
        name="spot_image"
        placeholder="Spot Image"
        required
      /><br />
      <button type="submit">Add Spot</button>
    </form>
  </body>
</html>
